# C and C++
*.VC.db
*.cache
*.err
*.i
*.ilk
*.ipch
*.lastbuildstate
*.log
*.nupkg
*.opendb
*.opensdf
*.psess
*.sdf
*.suo
*.tlog
*.user
*.vsp
*.vspscc
*.wrn
.vs
/CMakeUserPresets.json
/build*
/out

# Zig
*.dbg
*.dll
*.exe
*.exp
*.ilk
*.lib
*.obj
*.out
*.pdb
*.zip
zig-cache
zig-cache/*
zig-out
zig-out/*
